body {
  background-image: linear-gradient(180deg, black, navy, white, navy, black);
  color: cyan;
  text-shadow: 2px 2px white;
  text-align: center;
  margin: 0;
  font-family: papyrus;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
